@font-face{
  font-family: monstera;
  src: url(../font/monstera.ttf);
}
@font-face{
  font-family: grandhotel;
  src: url(../font/grandhotel-regular.otf);
}
@font-face{
  font-family: myriadpro;
  src: url(../font/FontsFree-Net-MYRIADPRO-REGULAR.ttf);
}
.right { grid-area: header; }
.left { grid-area: menu; }
.bs { grid-area: main; }
.bsimg { grid-area: pot; }
.item5 { grid-area: pen; }
.item6 { grid-area: book; }
.item7 { grid-area: bgr; }
.item8 { grid-area: leno; }
.item9 { grid-area: sub; }
.item10 { grid-area: footer; }
.item11 { grid-area: about; }
.item12 { grid-area: services; }
.item13 { grid-area: other; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header menu menu menu'
    'main main main main main main'
    'pot pot pen pen book book'
    'bgr bgr bgr bgr bgr bgr'
    'leno leno leno leno leno leno'
    'sub sub sub sub sub sub'
    'footer footer footer about services other';
}
body{
  padding: 0;
  margin: 0;
  background-color: #303030;
}
.left{
  width: 55vw;
  background-color: #303030;
}
.right{
  position: relative;
  width: 45vw;

}
#j{
  float: left;
  width: 45vw;
}
ul{
  padding-right: 5vw;
  margin-top: 4vw;
}
li{
  padding-left: 3.5vw;
  float: left;
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
  font-size: 1.2vw;
  font-family: myriadpro;
  margin-right: -1vw;
}
#a{
  position: absolute;
  right: 25vw;
  top: 3.5vw;
  height: 6vw;
  width: 12vw;
}
.images{
  position: relative;
  font-size: 10vw;
}
#g{
  position: absolute;
  width: 5vw;
  height: 5vw;
  right: 45vw;
  top: 5vw;
}
#g1{
  position: absolute;
  right: 4vw;
  top: 19vw;
  width: 5vw;
  height: 5vw;
}
#g2{
  position: absolute;
  right: 40vw;
  top: 40vw;
  width: 5vw;
  height: 5vw;
}
#g3{
  position: absolute;
  right: 18vw;
  top: 45vw;
  width: 5vw;
  height: 5vw;
}
#c{
  position: absolute;
  right: 15vw;
  top: 8vw;
  width: 10vw;
  height: 10vw;
}
#d{
  position: absolute;
  right: 6vw;
  top: 37vw;
  width: 10vw;
  height: 10vw;
}
#e{
  position: absolute;
  right: 7vw;
  top: 49vw;
  width: 6vw;
  height: 5vw;
}
#f{
  position: absolute;
  right: 45vw;
  top: 20vw;
  width: 8vw;
  height: 8vw;
}
#h{
  position: absolute;
  right: 30vw;
  top: 40vw;
  width: 10vw;
  height: 10vw;
}
#p1{
  color: yellow;
  font-size: 35%;
  position: absolute;
  right: 26vw;
  top: 13vw;
  width: 18vw;
  height: 5vw;
  font-family: grandhotel;
}
#p2{
  color: #fff;
  font-size: 18%;
  position: absolute;
  right: 13vw;
  top: 19vw;
  font-family: myriadpro;

}
button{
  background-color: #ffc200;
  color: black;
  position: absolute;
  right: 33.5vw;
  top: 28vw;
  width: 10vw;
  height: 3vw;
  font-size: 15%;
  font-family: myriadpro;
}
/*best seller*/
.bs{
  background-color: #fff;
  padding-top: 4vw;
  font-size: 20vw;
}
#p3{
  color: black;
  font-size: 20%;
  text-align: center;
  font-family: grandhotel;
}
#p4{
  color: black;
  font-size: 15%;
  text-align: center;
  font-family: myriadpro;
}
#p5{
  font-family: grandhotel;
  font-size: 20%;
}
#p6{
  font-family: myriadpro;
  font-size: 15%;

}
.bsimg{
  text-align: center;
  background-color: #fff;
  font-size: 10vw;

}
.bsimg img{
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
}
.item5{
  text-align: center;
  background-color: #fff;
  font-size: 10vw;
}
.item5 img{
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
}
.item6{
  text-align: center;
  background-color: #fff;
  font-size: 10vw;
}
.item6 img{
  border-radius: 50%;
  height: 20vw;
  width: 20vw;
}
/*oriental tast*/
.item7{
  position: relative;
  width: 100vw;
  margin-top: 2vw;
  font-size: 50vw;
}
#pr{
  width: 100vw;
  height: 70vw;
}
#o{
  height: 40%;
  width: 35%;
  border-radius: 50%;
  position: absolute;
  top: 3vw;
  right: 60vw;
}
#p7{
  position: absolute;
  top: 5vw;
  right: 33vw;
  color: #ffc200;
  font-size: 8%;
  font-family: grandhotel;
}
#p8{
  position: absolute;
  top: 12vw;
  right: 12vw;
  color: #fff;
  font-size: 4%;
  font-family: myriadpro;
}
#p9{
  position: absolute;
  top: 39vw;
  right: 47vw;
  font-size: 8%;
  color: #ffc200;
  font-family: grandhotel;
}
#p10{
  position: absolute;
  top: 46vw;
  right: 24vw;
  text-align: center;
  font-size: 4%;
  color: #fff;
  font-family: myriadpro;
}
#p11{
  position: absolute;
  top: 96vw;
  right: 65vw;
  font-size: 8%;
  color: #ffc200;
  font-family: grandhotel;
}
#p12{
  position: absolute;
  top: 104vw;
  right: 50vw;
  color: #fff;
  font-size: 4%;
  font-family: myriadpro;
}
#bt{
  position: absolute;
  top: 115vw;
  right: 72vw;
  font-size: .8vw;
  font-weight: bold;
  font-family: myriadpro;
}
.item7 button{
  position: absolute;
  top: 24vw;
  right: 40vw;
  font-size: .8vw;
  font-weight: bold;
}
#q{
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  position: absolute;
  top: 97vw;
  right: 12vw;
}
.outlet{
  position: absolute;
  top: 80vw;
  right: 65vw;
  color: #ffff;
  border: 1px solid #ffffff;
  border-width: 3px;
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  text-align: center;
  font-size: 2vw;
  font-family: myriadpro;
}
.chef{
  position: absolute;
  top: 80vw;
  right: 48vw;
  color: #ffff;
  border: 1px solid #ffffff;
  border-width: 3px;
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  text-align: center;
  font-size: 2vw;
  font-family: myriadpro;
}
.menu{
  position: absolute;
  top: 80vw;
  right: 31vw;
  color: #ffff;
  border: 1px solid #ffffff;
  border-width: 3px;
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  text-align: center;
  font-size: 2vw;
  font-family: myriadpro;
}
.conry{
  position: absolute;
  top: 80vw;
  right: 13vw;
  color: #ffff;
  border: 1px solid #ffffff;
  border-width: 3px;
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  text-align: center;
  font-size: 2vw;
  font-family: myriadpro;
}
#gg1{
  position: absolute;
  top: 42vw;
  right: 70vw;
}
#gg2{
  position: absolute;
  top: 45vw;
  right: 15vw;
}
#gg3{
  position: absolute;
  top: 80vw;
  right: 82vw;
}
#cc{
  position: absolute;
  top: 38vw;
  right: 30vw;
}
#ee{
  position: absolute;
  top: 40vw;
  right: 13vw;
}
#hh{
  position: absolute;
  top: 70vw;
  right: 30vw;
}
#n{
  position: absolute;
  top: 71vw;
  right: 60vw;
}
#dd{
  position: absolute;
  top: 80vw;
  right: 6vw;
}
#ff{
  position: absolute;
  top: 50vw;
  right: 80vw;
}
/*lenora field*/
.item8{
  width: 100vw;
  position: relative;
  margin-top: 50%;
}
#p13{
  padding-top: 23vw;
  font-size: 3vw;
  font-family: myriadpro;
}
#p14{
  font-size: 4vw;
  font-family: grandhotel;
}
.text{
  text-align: center;
  background-color: rgba(245, 203, 18, 0.767);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.item8 img{
  width: 100%;
}
/*subscribe*/
.item9{
  text-align: center;
  position: relative;
  background-color: rgb(244, 244, 244);
  height: 51vw;
}
#p15{
  font-size: 5vw;
  margin-top: 9vw;
  font-family: grandhotel;
}
#p16{
  font-size: 2.5vw;
  font-family: myriadpro;
}
#form{
  height: 3vw;
  width: 30vw;
  padding-left: 1vw;
  font-size: 1.5vw;
  background-color: #f4f4f4;
  border-color: #dfdada;
  border-width: .1vw;
  font-family: myriadpro;
}
#sub{
  height: 3.4vw;
  width: 10vw;
  font-size: 1.2vw;
  background-color: #ffc200;
  border: none;
}
#ra{
  position: absolute;
  right: 70vw;
  top: 1vw;
  height: 7vw;
  width: 7vw;
}
#rb{
  position: absolute;
  right: 20vw;
  top: 1vw;
  height: 12vw;
  width: 12vw;
}
#re{
  position: absolute;
  right: 80vw;
  top: 20vw;
  height: 9vw;
  width: 7vw;
}
#ra1{
  position: absolute;
  right: 10vw;
  top: 15vw;
  height: 7vw;
  width: 7vw;
}
#rc{
  position: absolute;
  right: 10vw;
  top: 25vw;
  height: 12vw;
  width: 9vw;
}
#rd{
  position: absolute;
  right: 15vw;
  top: 40vw;
  height: 8vw;
  width: 7vw;
}
#rg{
  position: absolute;
  right: 70vw;
  top: 40vw;
  height: 9vw;
  width: 10vw;
}
#ra2{
  position: absolute;
  right: 50vw;
  top: 40vw;
  height: 7vw;
  width: 7vw;
}
#rf{
  position: absolute;
  right: 30vw;
  top: 40vw;
  height: 7vw;
  width: 8vw;
}
/*footer*/
#p17{
  font-family: myriadpro;
  font-size: 1.7vw;

}
#p18{
  font-family: myriadpro;
  font-size: 1.7vw;
}
.item10{
  margin-top: 6vw;
  height: 9vw;
  padding-left: 7vw;
  color: #fff;
}
.item10 p{
  font-size: 1,7vw;
}
.item11{
  margin-top: 6vw;
  color: #fff;
  font-family: myriadpro;
  font-size: 1.7vw;
}
.item11 p{
  font-size: 1.7vw;
}
.item12{
  margin-top: 6vw;
  color: #fff;
  font-family: myriadpro;
  font-size: 1.7vw;
}
.item12 p{
  font-size: 1.7vw;
}
.item13{
  margin-top: 6vw;
  color: #fff;
  font-family: myriadpro;
  font-size: 1.7vw;
}
.item13 p{
  font-size: 1.7vw;
}



















