@font-face{
  font-family: monstera;
  src: url(../font/monstera.ttf);
}
@font-face{
  font-family: grandhotel;
  src: url(../font/grandhotel-regular.otf);
}
@font-face{
  font-family: myriadpro;
  src: url(../font/FontsFree-Net-MYRIADPRO-REGULAR.ttf);
}








.right { grid-area: header; }
.left { grid-area: menu; }
.bs { grid-area: main; }
.bsimg { grid-area: pot; }
.item5 { grid-area: pen; }
.item6 { grid-area: book; }
.item7 { grid-area: bgr; }
.item8 { grid-area: leno; }
.item9 { grid-area: sub; }
.item10 { grid-area: footer; }
.item11 { grid-area: about; }
.item12 { grid-area: services; }
.item13 { grid-area: other; }

.grid-container {
   display: grid;
  grid-template-areas:
    'header header header menu menu menu'
    'main main main main main main'
    'pot pot pen pen book book'
    'bgr bgr bgr bgr bgr bgr'
    'leno leno leno leno leno leno'
    'sub sub sub sub sub sub'
    'footer footer footer about services other';
}
body{
  padding: 0;
  margin: 0;
  background-color: #303030;
}
.grid-container > div {
}
.left{
  width: 683px;
  background-color: #303030;
  position: relative;
}
#j{
  float: left;
}
#i{
  float: right;
  height: 60vw;
  position: absolute;
  right: 383px;
}
ul{
  padding-right: 150px;
  padding-top: 22px;
  margin-top: 11px;
}
li{
  padding-left: 3.5vw;
  float: left;
  list-style: none;
  padding-top: 30px;
}
a{
  text-decoration: none;
  color: #fff;
  font-size: 14pt;
  font-family: myriadpro;
  margin-right: -10px;
}
#a{
  float: left;
  position: absolute;
  right: 1050px;
  top: 50px;
}
#g{
  position: absolute;
  right: 540px;
  top: 90px;
}
#g1{
  position: absolute;
  right: 100px;
  top: 300px;
}
#g2{
  position: absolute;
  right: 600px;
  top: 590px;
}
#g3{
  position: absolute;
  right: 200px;
  top: 650px;
}
#c{
  position: absolute;
  right: 120px;
  top: 110px;
}
#d{
  position: absolute;
  right: 60px;
  top: 500px;
}
#e{
  position: absolute;
  right: 70px;
  top: 700px;
}
#f{
  position: absolute;
  right: 660px;
  top: 330px;
}
#h{
  position: absolute;
  right: 350px;
  top: 590px;
}
#p1{
  color: yellow;
  font-size: 29.91pt;
  position: absolute;
  right: 410px;
  top: 210px;
  font-family: grandhotel;
}
#p2{
  color: #fff;
  font-size: 15.13pt;
  position: absolute;
  right: 230px;
  top: 270px;
  font-family: myriadpro;

}
button{
  background-color: #ffc200;
  color: black;
  position: absolute;
  right: 410px;
  top: 370px;
  width: 160px;
  height: 40px;
  font-family: myriadpro;
}
/*best seller*/
.bs{
  background-color: #fff;
  padding-top: 80px;
}
#p3{
  color: black;
  font-size: 25pt;
  text-align: center;
  font-family: grandhotel;
}
#p4{
  color: black;
  font-size: 21pt;
  text-align: center;
  font-family: myriadpro;
}
#p5{
  font-family: grandhotel;
  font-size: 20pt;
}
#p6{
  font-family: myriadpro;

}
.bsimg{
  text-align: center;
  background-color: #fff;
}
.bsimg img{
  border-radius: 50%;
}
.item5{
  text-align: center;
  background-color: #fff;
}
.item5 img{
  border-radius: 50%;
}
.item6{
  text-align: center;
  height: 600px;
  background-color: #fff;
}
.item6 img{
  border-radius: 50%;
}
.item7 img{
  height: 1800px;
  width: 1283px;
}
/*oriental tast*/
.item7{
  position: relative;
  margin-top: -16;
}
#pr{
  width: 100%;
}
#o{
  height: 360px;
  width: 360px;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  right: 800px;
}
#p7{
  position: absolute;
  top: 150px;
  right: 440px;
  color: #ffc200;
  font-size: 45pt;
  font-family: grandhotel;
}
#p8{
  position: absolute;
  top: 280px;
  right: 280px;
  color: #fff;
  font-size: 16pt;
  font-family: myriadpro;
}
#p9{
  position: absolute;
  top: 520PX;
  right: 630PX;
  font-size: 40pt;
  color: #ffc200;
  font-family: grandhotel;
}
#p10{
  position: absolute;
  top: 620PX;
  right: 430PX;
  text-align: center;
  font-size: 15pt;
  color: #fff;
  font-family: myriadpro;
}
#p11{
  position: absolute;
  top: 1280PX;
  right: 835PX;
  font-size: 45pt;
  color: #ffc200;
  font-family: grandhotel;
}
#p12{
  position: absolute;
  top: 1420PX;
  right: 720PX;
  color: #fff;
  font-size: 16pt;
  font-family: myriadpro;
}
#bt{
  position: absolute;
  top: 1550PX;
  right: 830PX;
  font-family: myriadpro;
}
.item7 button{
  position: absolute;
  width: 210PX;
  top: 420PX;
  right: 470PX;
}
#q{
  height: 360px;
  width: 360px;
  border-radius: 50%;
  position: absolute;
  top: 1310px;
  right: 200px;
}
.outlet{
  position: absolute;
  top: 840px;
  right: 900px;
  color: #ffff;
  border: 1px solid #ffffff;
  border-width: 3px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 20pt;
  font-family: myriadpro;
}
.chef{
  position: absolute;
  top: 840px;
  right: 670px;
  color: #ffff;
  border: 1px solid #ffffff;
  border-width: 3px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 20pt;
  font-family: myriadpro;
}
.menu{
  position: absolute;
  top: 840px;
  right: 440px;
  color: #ffff;
  border: 1px solid #ffffff;
  border-width: 3px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 20pt;
  font-family: myriadpro;
}
.conry{
  position: absolute;
  top: 840px;
  right: 210px;
  color: #ffff;
  border: 1px solid #ffffff;
  border-width: 3px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  font-size: 20pt;
  font-family: myriadpro;
}
#gg1{
  position: absolute;
  top: 550px;
  right: 950px;
}
#gg2{
  position: absolute;
  top: 630px;
  right: 100px;
}
#gg3{
  position: absolute;
  top: 1150px;
  right: 1100px;
}
#cc{
  position: absolute;
  top: 500px;
  right: 370px;
}
#ee{
  position: absolute;
  top: 1150px;
  right: 130px;
}
#hh{
  position: absolute;
  top: 1150px;
  right: 470px;
}
#n{
  position: absolute;
  top: 1050px;
  right: 850px;
}
#dd{
  position: absolute;
  top: 930px;
  right: 80px;
}
#ff{
  position: absolute;
  top: 650px;
  right: 1100px;
}
/*lenora field*/
.item8{
  position: relative;
}
#p13{
  padding-top: 350px;
  font-size: 30.78pt;
  font-family: myriadpro;
}
#p14{
  font-size: 40pt;
  font-family: grandhotel;
}
.text{
  text-align: center;
  background-color: rgba(245, 203, 18, 0.767);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.item8 img{
  width: 100%;
}
/*subscribe*/
.item9{
  text-align: center;
  position: relative;
  margin-right: 0;
  margin-left: 0;
  background-color: rgb(244, 244, 244);
  height: 650px;
}
#p15{
  font-size: 50pt;
  margin-top: 150px;
  font-family: grandhotel;
}
#p16{
  font-size: 20pt;
  font-family: myriadpro;
}
#form{
  height: 40px;
  width: 400px;
  padding-left: 20px;
  font-size: 14pt;
  background-color: #f4f4f4;
  border-color: #dfdada;
  border-width: 1px;
  font-family: myriadpro;
}
#sub{
  height: 47px;
  margin: -3px;
  width: 200px;
  font-size: 14pt;
  background-color: #ffc200;
  border-color: #f4f4f4;
}
#ra{
  position: absolute;
  right: 900px;
  top: 10px;
}
#rb{
  position: absolute;
  right: 300px;
  top: 10px;
}
#re{
  position: absolute;
  right: 1150px;
  top: 140px;
}
#ra1{
  position: absolute;
  right: 100px;
  top: 160px;
}
#rc{
  position: absolute;
  right: 100px;
  top: 340px;
}
#rd{
  position: absolute;
  right: 230px;
  top: 510px;
}
#rg{
  position: absolute;
  right: 900px;
  top: 470px;
}
#ra2{
  position: absolute;
  right: 1150px;
  top: 540px;
}
#rf{
  position: absolute;
  right: 430px;
  top: 510px;
}
/*footer*/
#p17{
  font-family: myriadpro;
}
#p18{
  font-family: myriadpro;
  font-size: 14pt;
}
.item10{
  margin-top: 140px;
  height: 500px;
  padding-left: 100px;
  color: #fff;
}
.item11{
  margin-top: 140px;
  color: #fff;
  font-family: myriadpro;
}
.item12{
  margin-top: 140px;
  color: #fff;
  font-family: myriadpro;
}
.item13{
  margin-top: 140px;
  color: #fff;
  font-family: myriadpro;
}


















